.clock > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 16px;
}

.clock > ul > li {
    border: 1px solid var(--highlight-background-color);
    background-color: var(--background-color)
}

.clock .clock-body {
    margin: 16px;
    background-color: red;
    font-size: 23px;
}

.ckock > div {
    background-color: blue;
    font-size: 23px;
}

.clock{
background-color: red;
font-size: 23px;
}